## Using For Loop
* For Loop for headers
* For Loop for data

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import csv

In [81]:
url = 'https://en.wikipedia.org/wiki/Comma-separated_values'
r = requests.get(url)
print(r.status_code)

200

In [54]:
soup = BeautifulSoup(r.text, 'html.parser')
wiki_table = soup.find('table', class_ = 'wikitable')
wiki_table

<table class="wikitable">
<tbody><tr>
<th>Year</th>
<th>Make</th>
<th>Model</th>
<th>Description</th>
<th>Price
</th></tr>
<tr>
<td>1997</td>
<td>Ford</td>
<td>E350</td>
<td>ac, abs, moon</td>
<td>3000.00
</td></tr>
<tr>
<td>1999</td>
<td>Chevy</td>
<td>Venture "Extended Edition"</td>
<td></td>
<td>4900.00
</td></tr>
<tr>
<td>1999</td>
<td>Chevy</td>
<td>Venture "Extended Edition, Very Large"</td>
<td></td>
<td>5000.00
</td></tr>
<tr>
<td>1996</td>
<td>Jeep</td>
<td>Grand Cherokee</td>
<td>MUST SELL!<br/>air, moon roof, loaded</td>
<td>4799.00
</td></tr></tbody></table>

In [55]:
# We create a list for the columns
headers = []

for i in wiki_table.find_all('th'):

# Cleans the headers and rids of all th nodes
    title = i.text.strip()
    headers.append(title)
    
# We make a dataframe with the given column headesr    
df = pd.DataFrame(columns = headers)
df

Empty DataFrame
Columns: [Year, Make, Model, Description, Price]
Index: []

In [53]:
for row in wiki_table.find_all('tr')[1:]:
    cars_data = row.find_all('td')

# removes all nodes (td,tr,th)
    row_data = [td.text.strip() for td in cars_data]

# it starts from 0 and iterates towards the last row
    length = len(df)
    df.loc[length] = row_data
df

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.00
1,1999,Chevy,"Venture ""Extended Edition""",,4900.00
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.00

In [56]:
df.to_csv("C:/Users/chris/repositories/st2195_assignment_2/cars_python_csv.csv", index=False)

## For Loop with try: and finally:
* newline =’ ‘ is used to avoid any newline between two rows.
    * If it's a new line (\n), we strip it out.
    * We don't want them to be brought to a new line
* **Honestly don't get this**

In [59]:
csvFile = open("C:/Users/chris/repositories/st2195_assignment_2/cars_python_csv_2.csv",'wt',newline='',encoding='utf-8')

writer = csv.writer(csvFile)  
try:   
        for cell in tr:
            th = cell.find_all('th')
            th_data = [col.text.strip('\n') for col in th]
            td = cell.find_all('td')
            row = [i.text.replace('\n','') for i in td]
            writer.writerow(th_data+row)      
        
finally:   
    csvFile.close()

## Scrape using Pandas

In [63]:
# Select only the dataframes in the html

dfs = pd.read_html(url)
dfs[1]

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!air, moon roof, loaded",4799.0